.header {
    position: fixed;
    top: 1%;
    margin: 0%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f6fa;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 3%;
  }
  
  .nav-items li a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
  }
  
  .nav-items li a.active-link {
    color:#144df4;
    border-bottom: 2px solid #144df4;
  }
  
  .logo {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #2c3e50;
  }
  